<section class="section workhistory" [id]="sectionId">
  <div class="container">
    <div class="section-box">
      <div data-aos="fade-up" data-aos-duration="1000">
        <h3 class="section-title" [class.subsection-title]="subsection">
          <span class='n-section-title'>{{navNumber}}</span>{{headingText}}
        </h3>
      </div>

      @for (exp of experienceList; track exp; let i = $index) {
        <div class="d-flex workhistory-container"
          data-aos="fade-up" data-aos-duration="1000">
          @if (i % 2 == 0) {
            <owl-carousel-o class='owl-carousel-o' [options]="customOptions">
              @for (img of exp.imgs; track img) {
                <ng-template carouselSlide [id]="exp.title + i">
                  <div #imgContainer class='img-container'>
                    <img class='img-feature-workhistory rounded' [src]="img" [alt]="exp.image_alt || exp.title"
                      [appLogoFallback]="exp.organization">
                  </div>
                </ng-template>
              }
            </owl-carousel-o>
          }
          @if (i % 2 == 0) {
            <div class="img-feature-workhistory-container" data-aos="fade-up" data-aos-duration="1000"
              >
              <div class="img-feature-workhistory-box">
                <div class="img-container" style='width: auto;'>
                  <img class='img-feature-workhistory rounded' [src]="exp.imgs[0]" [alt]="exp.image_alt || exp.title"
                    [appLogoFallback]="exp.organization">
                </div>
              </div>
            </div>
          }
          <div [ngClass]="{'workhistory-info-right': i % 2 == 0, 'workhistory-info-left': i % 2 != 0}"
            [style.backgroundImage]="'url(' + exp.imgs[0] + ')'">
            <div class="workhistory-box">
              <h5 [ngClass]="{'text-right': i % 2 == 0, 'text-left': i % 2 != 0}" class="workhistory-title">
              {{exp.title}} </h5>
              @if (exp?.organization) {
                <h4 [ngClass]="{'text-right': i % 2 == 0, 'text-left': i % 2 != 0}"
                  class="workhistory-subtitle">
                &#64; {{exp.organization}}</h4>
              }
              <div class="workhistory-description-box" (click)='debug()'>
                @if (exp?.timeframe) {
                  <p class="text-right mb-2">
                    <i>{{exp?.timeframe}}</i>
                  </p>
                }
                @if (exp?.subTitle) {
                  <p class="text-right mb-2">
                    <u>{{exp?.subTitle}}</u>
                  </p>
                }
                @for (descParagraph of exp?.description; track descParagraph; let i = $index) {
                  <p class="mb-1" [innerHTML]="descParagraph | linkify"></p>
                }
                <div [ngClass]="{'text-right': i % 2 == 0, 'text-left': i % 2 != 0}"
                  class="workhistory-links">
                  @if (exp['link']) {
                    <a class="mx-3" style='color: inherit' [href]="exp['link']"
                      target="_blank"><i class="ml-3 fa-solid fa-up-right-from-square"></i></a>
                    }
                    @if (exp['demoLink']) {
                      <a style='color: inherit' [href]="exp['demoLink']"
                        target="_blank"><i class="ml-3 fas fa-external-link-alt"></i></a>
                      }
                    </div>
                  </div>
                  @if (exp?.skills) {
                    <ul [ngClass]="{'justify-content-end': i % 2 == 0, 'justify-content-start': i % 2 != 0}"
                      class="workhistory-skills">
                      @for (skill of exp.skills; track skill) {
                        <li class="mx-2">
                          <span class="underline skills">{{skill}}</span>
                        </li>
                      }
                    </ul>
                  }
                </div>
              </div>
              @if (i % 2 != 0) {
                <owl-carousel-o class='owl-carousel-o' [options]="customOptions">
                  @for (img of exp.imgs; track img) {
                    <ng-template carouselSlide [id]="exp.title + i">
                      <div class='img-container'>
                        <img class='img-feature-workhistory rounded' [src]="img" [alt]="exp.image_alt || exp.title"
                          [appLogoFallback]="exp.organization">
                      </div>
                    </ng-template>
                  }
                </owl-carousel-o>
              }
              @if (i % 2 != 0) {
                <div class="img-feature-workhistory-container" data-aos="fade-up" data-aos-duration="1000"
                  >
                  <div class="img-feature-workhistory-box">
                    <div class="img-container" style='width: auto;'>
                      <img class='img-feature-workhistory rounded' [src]="exp.imgs[0]" [alt]="exp.image_alt || exp.title"
                        [appLogoFallback]="exp.organization">
                    </div>
                  </div>
                </div>
              }
            </div>
          }
        </div>
      </div>
    </section>