<nav [@animateMenu] class="navbar main-navbar on-top" [class.nav-shadow]='this.pageYPosition>0'>
  <div class="container">
    <a class="navbar-brand text-light" [routerLink]="'/'" aria-label="Yannis Lam, home">
      <img [src]="'assets/images/logos/' + themeService.logoVariant() + '.svg'" width="55" alt="Yannis Lam logo"
        [style.transform]="'rotate(' + logoRotationDeg + 'deg)'" />
    </a>
    <div class="nav-right">
      <ul ngbNav #nav="ngbNav" class="menu-ul">
        @for (menuItem of menu ; track menuItem; let i = $index) {
          <li [ngbNavItem]="i" ngbNavItem
            (click)='analyticsService.sendAnalyticEvent(menuItem?.navTitle, "menu", "click")'>
            <a ngbNavLink (click)='navigate(menuItem)'>
              @if (menuItem?.navNumber) {
                <span class='nav-number'>{{menuItem?.navNumber}}</span>
              }
              <span class="underline nav-text">{{menuItem?.navTitle}}</span></a>
          <ng-template ngbNavContent>{{menuItem?.navContent}}</ng-template>
        </li>
      }

      </ul>
      <button type="button" class="theme-toggle" (click)="toggleTheme()" title="Toggle color theme"
        [attr.aria-label]="'Toggle color theme (currently ' + themeService.mode() + ')'">
        <i class="fa-solid"
          [class.fa-circle-half-stroke]="themeService.mode() === 'default'"
          [class.fa-sun]="themeService.mode() === 'light'"
          [class.fa-moon]="themeService.mode() === 'dark'"></i>
      </button>
    </div>
    <div class="menu-wrapper">
      <button type="button" [class.animate]='responsiveMenuVisible' (click)='responsiveMenuVisible = !responsiveMenuVisible'
      class="hamburger-menu" [attr.aria-expanded]="responsiveMenuVisible" aria-label="Toggle menu"
      aria-controls="mobile-menu"></button>
    </div>
    <div class="menu-responsive" [ngStyle]="{'pointer-events': !responsiveMenuVisible ? 'none' : '' }">
      <aside id="mobile-menu" [class.aside-show]='responsiveMenuVisible' [class.nav-shadow]='this.pageYPosition>0' class="on-top">
        <nav>
          <ol>
            @for (menuItem of menu ; track menuItem; let i = $index) {
              <li
                (click)='analyticsService.sendAnalyticEvent(menuItem?.navTitle, "menu", "click")'>
                <a (click)='navigate(menuItem)'>
                  @if (menuItem?.navNumber) {
                    <span>{{menuItem?.navNumber}}</span>
                  }
                  {{menuItem?.navTitle}}
                </a>
              </li>
            }
          </ol>
        </nav>
      </aside>
    </div>
  </div>
</nav>
