<div class="loading-screen" [class.loading-screen--hidden]="hidden" #overlay>
    <div class="loading-screen__inner">
        <svg #logoSvg class="loading-screen__logo" viewBox="0 0 800 800" xmlns="http://www.w3.org/2000/svg">
            <g #logoGroup class="loading-screen__logo-group">
                <polygon class="logo-piece" [attr.fill]="pieceFill('#fff200')" points="287,194 287,80 343,193" />
                <polygon class="logo-piece" [attr.fill]="pieceFill('#fff200')" points="437,194 493,80 493,194" />
                <polygon class="logo-piece" [attr.fill]="pieceFill('#7f7f7f')" points="360,204 420,204 390,265" />
                <polygon class="logo-piece" [attr.fill]="pieceFill('#ffc90e')" points="354,333 289,203 348,203 384,275" />
                <polygon class="logo-piece" [attr.fill]="pieceFill('#ffc90e')" points="425,333 396,275 432,203 491,203" />
                <polygon class="logo-piece" [attr.fill]="pieceFill('#ed1c24')" points="361,342 390,284 419,342 390,402" />
                <polygon class="logo-piece" [attr.fill]="pieceFill('#b5e61d')" points="323,539 384,417 384,667 323,669" />
                <polygon class="logo-piece" [attr.fill]="pieceFill('#ffc90e')" points="395,412 458,538 458,670 396,670" />
                <polygon class="logo-piece" [attr.fill]="pieceFill('#22b14c')" points="321,680 377,680 352,731 295,731" />
                <polygon class="logo-piece" [attr.fill]="pieceFill('#ff7f27')" points="484,731 427,731 402,681 458,680" />
                <polygon class="logo-piece" [attr.fill]="pieceFill('#efe4b0')" points="601,731 496,731 471,681 575,680" />
            </g>
        </svg>
    </div>
</div>
