@use "./../../../../variables.scss"  as *;

footer {
    color: $LightSlate;

    .footer-left-bar:after,
    .footer-right-bar:after {
        content: '';
        display: block;
        width: 1px;
        height: 90px;
        margin: 0 auto;
        background-color: $LightSlate;
    }

    .footer-left-bar li,
    .footer-right-bar li {
        list-style: none;
    }

    .footer-left-bar {
        position: fixed;
        bottom: -16px;
        left: 51px;
        padding: 0;

        a {
            position: relative;
            display: inline-flex;
            overflow: hidden;
            border-radius: $ShapeFull;
            padding: 6px;

            @include md-state-layer($Primary);
        }

        i {
            position: relative;
            z-index: 1;
            font-size: 19px;
            color: $OnSurfaceVariant;
            &:hover,
            &:focus {
                color: $Primary;
            }
        }

        li {
            margin: 20px 0px;

            &:last-of-type {
                margin-bottom: 33px;
            }
        }
    }

    .footer-right-bar {
        position: fixed;
        bottom: 0px;
        right: 41px;
        padding: 0;

        li {
            transform: rotate(90deg);
        }

        a {
            position: relative;
            overflow: hidden;
            border-radius: $ShapeSmall;
            font-family: $CodeFont;
            font-size: 12px;
            -webkit-letter-spacing: 0.1em;
            -moz-letter-spacing: 0.1em;
            -ms-letter-spacing: 0.1em;
            letter-spacing: 0.1em;
            -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            margin: 20px auto;
            padding: 10px;
            color: $OnSurfaceVariant;

            @include md-state-layer($Primary);

            &:hover,
            &:focus {
                color: $Primary;
            }
        }
    }

    .footer-credits {
        font-family: $CodeFont;
        font-size: 12px;
        line-height: 1;

        padding: 40px 0 20px;

        a {
            color: $OnSurfaceVariant;
            -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition-property: all;
            transition-duration: 0.25s;
            transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
            transition-delay: 0s;
            text-decoration: none;

            &:hover,
            &:focus {
                color: $Primary;
            }
        }
    }
}