<footer>
  <div [@animateFooter]>
    <ul class="footer-left-bar d-none d-md-block">
      @for (social of socials ; track social; let i = $index) {
        <li>
          <a href={{social.url}} target='_blank'>
            <i class="fab {{social.icon}}"></i>
          </a>
        </li>
      }
    </ul>
    <div class="footer-right-bar d-none d-md-block">
      <a href={{email.url}} target='_blank'>{{email.handle}}</a>
    </div>
  </div>

  <div class="footer-mobile-contact d-md-none">
    <a class="footer-mobile-email" href={{email.url}} target='_blank'>{{email.handle}}</a>
    <ul class="footer-mobile-socials">
      @for (social of socials ; track social; let i = $index) {
        <li>
          <a href={{social.url}} target='_blank'>
            <i class="fab {{social.icon}}"></i>
          </a>
        </li>
      }
    </ul>
  </div>

  <div class="footer-credits text-center">
    <div class="mt-2"><a href={{footer.repo.url}} target="_blank"
    rel="nofollow noopener noreferrer">{{footer.repo.text}}</a>
    &copy; {{currentDate |
  date:'yyyy'}}</div>
  <div class="mt-2">{{footer.builtWith.text}} <a href={{footer.builtWith.url}} target="_blank"
  rel="nofollow noopener noreferrer">{{footer.builtWith.linkText}}</a></div>
  <div class="mt-2">Designed by
    @for (credit of footer.designCredits; track credit.url) {
      <a href={{credit.url}} target="_blank" rel="nofollow noopener noreferrer">{{credit.name}}</a>{{credit.separator}}
    }
  </div>

</div>

</footer>