$Navy : var(--color-navy);
$LightNavy : var(--color-light-navy);
$LightestNavy : var(--color-lightest-navy);
$Slate : var(--color-slate);
$LightSlate : var(--color-light-slate);
$LightestSlate: var(--color-lightest-slate);
$White : var(--color-white);
$Orange : var(--color-orange);
$OrangeOpacity : var(--color-orange-opacity);

$MainFont: Calibre, San Francisco, SF Pro Text, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Helvetica Neue, Segoe UI, Arial, sans-serif;
$CodeFont: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, Monospace;